<form [formGroup]="form">
  <mat-form-field class="w-full" appearance="fill">
    <mat-label>User ID</mat-label>
    <input formControlName="userId" type="number" style="color:var(--blue)" matInput placeholder="Ex. 1">
  </mat-form-field>
  <mat-form-field class="w-full" appearance="fill">
    <mat-label>Title</mat-label>
    <input formControlName="title" type="text" maxlength="40" style="color:var(--blue)" matInput placeholder="Ex. I Want To Do...">
  </mat-form-field>
  <div *ngIf="!createMode">
    <div class="mb-5">
      <button [disabled]="form.invalid" (click)="editTodo()" mat-raised-button class="w-full" color="accent">Edit this ToDo</button>
    </div>
    <div class="mb-5">
      <button (click)="deleteTodo()" mat-raised-button class="w-full" color="warn">Delete this ToDo</button>
    </div>
    <div>
      <button (click)="cancellation()" mat-raised-button class="w-full" color="basic">Cancel</button>
    </div>
  </div>
  <div *ngIf="createMode">
    <div class="mb-5">
      <button (click)="postTodo()" [disabled]="form.invalid" mat-raised-button class="w-full" color="accent">Create this ToDo</button>
    </div>
    <div>
      <button (click)="cancellation()" mat-raised-button class="w-full" color="warn">Cancel</button>
    </div>
  </div>

</form>
