<form>
  <mat-form-field class="w-full" appearance="fill">
    <mat-label>User ID</mat-label>
    <input type="number" style="color:var(--blue)" matInput placeholder="Ex. 1">
  </mat-form-field>
  <mat-form-field class="w-full" appearance="fill">
    <mat-label>Title</mat-label>
    <input type="text" maxlength="40" style="color:var(--blue)" matInput placeholder="Ex. I Want To Do...">
  </mat-form-field>
<!--  <div>-->
<!--    <div class="mb-5">-->
<!--      <button mat-raised-button class="w-full" color="accent">Edit this ToDo</button>-->
<!--    </div>-->
<!--    <div class="mb-5">-->
<!--      <button mat-raised-button class="w-full" color="warn">Delete this ToDo</button>-->
<!--    </div>-->
<!--    <div>-->
<!--      <button mat-raised-button class="w-full" color="basic">Cancel</button>-->
<!--    </div>-->
<!--  </div>-->
  <div>
    <div class="mb-5">
      <button mat-raised-button class="w-full" color="accent">Create this ToDo</button>
    </div>
    <div>
      <button mat-raised-button class="w-full" color="warn">Cancel</button>
    </div>
  </div>

</form>
